<div>ijagorigjeawfawef<br>riegjawefawefawfawef <br>gjirgjfdrifgjiorjfgijr gjrgjjrjrjgjirgg
  irigjrgpjjreigijrjgrgj riegiirigi<br> irigiarigiijgr jarigiirae g
</div>


<div>
  <app-popup message="Ovo je neki popup!" 
             title="Obavestenje" 
             [show-message]=showMessage 
             [state]=state 
             background-color="black" 
             color="white" 
             border="2px blue solid"></app-popup>
  <button (click)="toggleShowMessage()">Click me!</button>
</div>



<!--app-photo></app-photo-->
<!--div>
  <p-toolbar>
    <p-button routerLink="page1" label="Page 1" icon="pi pi-arrow-left"></p-button>
    <button pButton routerLink="page2" class="green" icon="pi pi-arrow-up" label="Page 2"></button>
    <button pButton routerLink="page3" class="yellow" icon="pi pi-arrow-right" label="Page 3"></button>
  </p-toolbar>

  <main [@routeAnimations2]="prepereRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div-->